# build files
*.info
*.pc
*~
.libzathura-version-check

# build dirs
.depend
gcov/
build/

# development files
*.sw[a-z]
*.diff
.ycm_extra_conf.*
.clang_complete
.lvimrc
.ropeproject
.frama-c
compile_commands.json
*.log
